/cmd
!/environments/cmd
!/cmd
/api/tests/functional.suite.yml
/api/v4/tests/functional.suite.yml
/api/v5/tests/functional.suite.yml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# PHP Storm IDE
/.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/composer.lock
.dbeaver-data-sources.xml
session/